<h1><%= house %>Members</h1>

<section id='members'>
  <% members.order_of_the_phoenix(house).each_with_index do |member, index| %>
    <section id='member-<%= index %>'>
      <% binding.pry %>
    </section>
  <% end %>
</section>
